<!DOCTYPE html>
<html lang="zxx">


<!-- Mirrored from demo.themefisher.com/elite-shop/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 26 Aug 2022 20:46:13 GMT -->
<head>
    <meta charset="utf-8">
    <title>Techno Shop</title>

    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- ** Plugins Needed for the Project ** -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/plugins/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="~/plugins/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="~/plugins/slick/slick.css">
    <link rel="stylesheet" href="~/plugins/venobox/venobox.css">
    <link rel="stylesheet" href="~/plugins/animate/animate.css">
    <link rel="stylesheet" href="~/plugins/aos/aos.css">
    <link rel="stylesheet" href="~/plugins/bootstrap-touchspin-master/jquery.bootstrap-touchspin.min.css">

    <link rel="stylesheet" href="~/plugins/bootstrap-slider/bootstrap-slider.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Main Stylesheet -->
    <link href="~/splide-4.1.3/dist/css/splide.min.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/StyleSheet.css" rel="stylesheet">

    <!--Favicon-->
    <link rel="shortcut icon" href="~/images/favicon.png" type="image/x-icon">
    <link rel="icon" href="~/images/favicon.png" type="image/x-icon">
    
</head>

<body>

    @await Component.InvokeAsync("Header");

   
            @RenderBody()
    @await Component.InvokeAsync("Subscription");
    @await Component.InvokeAsync("Footer");
    <a href="#" class="to-top">
        <i class="fa-solid top-icon fa-chevron-up"></i>
    </a>

<script src="~/plugins/jQuery/jquery.min.js"></script>
<script src="~/plugins/bootstrap/bootstrap.min.js"></script>
<script src="~/plugins/slick/slick.min.js"></script>
<script src="~/plugins/venobox/venobox.min.js"></script>
<script src="~/plugins/aos/aos.js"></script>
<script src="~/plugins/syotimer/jquery.syotimer.js"></script>
<script src="~/plugins/instafeed/instafeed.min.js"></script>
<script src="~/plugins/zoom-master/jquery.zoom.min.js"></script>
<script src="~/plugins/bootstrap-touchspin-master/jquery.bootstrap-touchspin.min.js"></script>
<script src="~/plugins/bootstrap-slider/bootstrap-slider.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="~/splide-4.1.3/dist/js/splide.min.js"></script>

@await RenderSectionAsync("Scripts", false)


<!-- Main Script -->
<script src="~/js/script.js"></script>

</body>

<!-- Mirrored from demo.themefisher.com/elite-shop/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 26 Aug 2022 20:46:36 GMT -->
</html>

