@model CheckoutVM
@{
    ViewData["Title"] = "CheckOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav class="bg-gray py-3">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Checkout</li>
        </ol>
    </div>
</nav>
<!-- /breadcrumb -->

<div class="section">
    <div class="checkout shopping">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="block billing-details">
                        <h4 class="widget-title">Billing Details</h4>
                        <form class="checkout-form" method="post">
                            <div class="form-group">
                                <label asp-for="Firstname"></label>
                                <input class="form-control" asp-for="Firstname" placeholder="Firstname">
                                <span class="text-danger" asp-validation-for="Firstname"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Lastname"></label>
                                <input class="form-control" asp-for="Lastname" placeholder="Lastname">
                                <span class="text-danger" asp-validation-for="Lastname"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Email"></label>
                                <input class="form-control" asp-for="Email" placeholder="Email address">
                                <span class="text-danger" asp-validation-for="Email"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PhoneNumber"></label>
                                <input class="form-control" asp-for="PhoneNumber" placeholder="Phone number">
                                <span class="text-danger" asp-validation-for="PhoneNumber"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Address"></label>
                                <input class="form-control" asp-for="Address" placeholder="Address">
                                <span class="text-danger" asp-validation-for="Address"></span>
                            </div>
                            <div class="checkout-country-code clearfix">
                                <div class="form-group">
                                    <label asp-for="ZipCode"></label>
                                    <input class="form-control" id="user_post_code" asp-for="ZipCode">
                                    <span class="text-danger" asp-validation-for="ZipCode"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="City"></label>
                                    <input class="form-control" id="user_city" asp-for="City">
                                    <span class="text-danger" asp-validation-for="City"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Country"></label>
                                <input class="form-control" asp-for="Country" placeholder="Country">
                                <span class="text-danger" asp-validation-for="Country"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Company"></label>
                                <input class="form-control" asp-for="Company" placeholder="Company">
                                <span class="text-danger" asp-validation-for="Company"></span>
                            </div>

                            <button asp-action="order" type="submit" class="btn btn-success">Buy</button>
                        </form>
                    </div>

                    
                </div>
                <div class="col-md-4">
                    <div class="product-checkout-details">
                        <div class="block">
                            <h4 class="widget-title">Order Summary</h4>
                            @foreach (var item in Model.Baskets)
                            {
                                <div class="media product-card">
                                    <a class="pull-left" asp-action="detail" asp-controller="home" asp-route-id="@item.Id">
                                        <img class="media-object" src="~/images/products/@item.ImageUrl" alt="Image" />
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a class="text-color" asp-action="detail" asp-controller="home" asp-route-id="@item.Id">@item.Name</a></h4>
                                        <p class="price">@item.ProductCount x $@item.Price</p>
                                    </div>
                                </div>
                            }
                            @*<div class="discount-code">
                                <p>Have a discount ? <a data-toggle="modal" data-target="#coupon-modal" href="#">enter it here</a></p>
                            </div>*@
                            <div class="summary-total">
                                <span>Total</span>
                                <span>$@ViewBag.TotalPrice</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    <partial name="_ValidationScriptsPartial" />
}