@model BlogDetailVM

@foreach (var item in Model.Blogs)
{
    <li class=" px-3  bg-dark p-2 search-list-content cool-search-list" style="width:90%;">
        <a class="text-dark d-flex flex-row align-content-center justify-content-between" style="width:100%; align-items: center" asp-controller="home" asp-action="detail" asp-route-Id="@item.Id">
            <span class="text-danger">@item.Title</span>
            <img width="100" src="~/images/blog/@item.ImageUrl">
        </a>
    </li>
}