@model ListProductsVM
@{
    ViewData["Title"] = "Pendings";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="row">

    <div class="col-lg-12 grid-margin stretch-card">
                <div class="table-responsive">
                    <table id="pending-table" class="table table-hover">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Settings</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
    </div>

</div>


@section JqueryValidationScript{
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/Pendings.js"></script>
}