@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-404 section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<a href="index.html">
					<h2>Oops... Something went wrong</h2>
					</a>
					<h1>404</h1>
					
					<ul>
						<li><h2>Possible reasons:</h2></li>
						<li class="mt-2"><h2>Page you're looking for was broken</h2></li>
						<li class="mt-2"><h2>You are not allowed to view the page</h2></li>
					</ul>
					<a asp-action="index" asp-controller="home" class="btn btn-primary mt-4"><i class="ti-angle-double-left"></i> Go Home</a>
				</div>
			</div>
		</div>
	</section>