@model UserVM
@{
    ViewData["Title"] = "Following";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container col-12">
    <div class="d-flex flex-column">
        @foreach (var item in Model.Users)
        {
            <div class="col-12 col-sm-6 d-flex flex-row align-items-center" style="border: dotted 1px black">
                <img src="~/images/profilepictures/@item.ProfilePicture" width="100" class="m-3">
                <a class="col-12 col-sm-12 text-center text-danger p-1 m-3" style="font-size: 100%; font-weight:700;" asp-action="profilepage" asp-controller="user" asp-route-id="@item.Id">@item.Fullname</a>
            </div>
        }
    </div>
</div>

